.wishlist-area {
    padding: 50px 0;
    h2 {
        font-size: 32px;
        margin-bottom: 15px;
        color: var(--color-black-1);
        .empty-msg {
            max-width: 600px;
            text-align: center;
            color: var(--theme-secondary);
            font-size: 50px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: center;
            .btn {
                width: 100%;
                max-width: 200px;
                justify-content: center;
            }
        }
    }
    .wishlist-table {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: 1rem 0;
        border-radius: 4px;
        &::-webkit-scrollbar {
            height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 4px;
        }
        .wl-rounded-table {
            border-collapse: separate;
            border-spacing: 0;
            border-radius: 4px;
            overflow: hidden;
            border-left: 1px solid var(--color-gray-6);
            border-right: 1px solid var(--color-gray-6);
            thead {
                background-color: rgba(0, 0, 0, 6%);
                th {
                    border-top: none;
                    border-top: 1px solid var(--color-gray-6);
                    vertical-align: middle;
                    padding-top: 0.75rem;
                    padding-bottom: 0.75rem;
                    &:first-child {
                        border-top-left-radius: 4px;
                        border-left: none;
                    }
                    &:last-child {
                        border-top-right-radius: 4px;
                        border-right: none;
                    }
                }
            }
            tbody tr {
                .wl-img-cell {
                    padding: 5px 10px;
                    min-width: 150px;
                    .wish-act {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        .pr-del {
                            max-width: 20px;
                        }
                        .btn {
                            background-color: var(--btn-color);
                            color: var( --color-white-default);
                            font-size: 16px;
                            padding: 10px 20px 8px;
                            max-width: 120px;
                            justify-content: center;
                            line-height: 1;
                        }
                    }
                    img {
                        max-height: 90px;
                        max-width: 100%;
                        height: auto;
                        display: block;
                        margin: 0 auto;
                    }
                }
                .wl-title-cell {
                    min-width: 250px;
                    white-space: normal;
                }
                .wl-text-cell {
                    min-width: 150px;
                }
                td,
                th {
                    border-top: 1px solid var(--color-gray-6);
                    border-bottom: 1px solid var(--color-gray-6);
                    vertical-align: middle;
                    padding-top: 0.75rem;
                    padding-bottom: 0.75rem;
                    color: var(--body-color);
                }
                td {
                    a {
                        color: var(--body-color);
                        &:hover {
                            color: var(--theme-secondary);
                        }
                    }
                }
                &:last-child {
                    td,
                    th {
                        border-bottom: 1px solid var(--color-gray-6);
                    }
                    td:first-child {
                        border-bottom-left-radius: 4px;
                        border-left: none;
                    }
                    td:last-child {
                        border-bottom-right-radius: 4px;
                        border-right: none;
                        text-align: center;
                    }
                }
            }
            td,
            th {
                border-left: 1px solid var(--color-gray-6);
                border-right: 1px solid var(--color-gray-6);
                &:first-child {
                    border-left: none;
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .wishlist-area {
        h2 {
            .empty-msg {
                font-size: 40px;
                gap: 20px;
                .btn {
                    width: 100%;
                    max-width: 200px;
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .wishlist-area {
        padding: 50px 0 70px;
        h2 {
            .empty-msg {
                max-width: 600px;
                text-align: center;
                color: var(--theme-secondary);
                font-size: 24px;
            }
        }
        .wishlist-table {
            .wl-rounded-table {
                display: block;
                width: 100%;
                border-left: none;
                border-right: none;
                thead {
                    display: none;
                }
                tbody {
                    display: block;
                    width: 100%;
                    tr {
                        display: block;
                        width: 100%;
                        margin-bottom: 1.5rem;
                        border: 1px solid var(--color-gray-6);
                        border-radius: 8px;
                        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
                        background: #fff;
                        padding: 1rem 0.5rem;
                        font-size: 12px;
                        .wl-img-cell {
                            text-align: left;
                            margin-bottom: 0.5rem;
                            border-top: 0;
                            .wish-act {
                                .btn {
                                    font-size: 12px;
                                    padding: 7px 15px 5px;
                                }
                            }
                            img {
                                margin: 0;
                                max-height: 30px;
                            }
                            &:last-child {
                                margin-bottom: 0;
                                border-bottom: 0;
                            }
                        }
                        .wl-title-cell {
                            margin-bottom: 0.5rem;
                            border-top: 0;
                            a {
                                max-width: 200px;
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        .wl-text-cell {
                            text-align: left !important;
                            margin-bottom: 0.5rem;
                            border-top: 0;
                            .quantity-box {
                                display: flex;
                                text-align: end !important;
                                max-width: 125px;
                                .qty-btn {
                                    width: 26px;
                                    height: 26px;
                                    font-size: 22px;
                                }
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                td,
                th {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: right;
                    width: 100%;
                    border: none;
                    padding: 0.5rem 0.75rem;
                    text-align: left;
                    box-sizing: border-box;
                    a {
                        text-align: end;
                    }
                    &[data-label]::before {
                        content: attr(data-label) ": ";
                        font-weight: bold;
                        display: block;
                        margin-bottom: 2px;
                        color: #333;
                    }
                }
            }
        }
    }
}